#root {
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}




.read-the-docs {
  color: #888888;
}

.navbar-brand {
  position: relative;
  display: inline-block;
  font-weight: 800;
  color: royalblue;
  overflow: hidden;
  background: linear-gradient(
    to right,
    midnightblue,
    midnightblue 50%,
    royalblue 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 125ms ease;
}

.navbar-brand:hover {
  background-position: 0 100%;
}
